*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-content: center;
}
.header {
    height: 120px;
    width: 100%;
    background-color: rgb(236, 236, 117);
}
.payment-box{
    margin-top: 120px;
    height: auto;
    width:400px;
    box-shadow:1px 1px 3px rgb(135, 135, 135);
}
h2{
    text-align:center;
    margin-bottom:20px;
    color: hsl(43, 100%, 50%);
}
.amount{
    font-size:18px;
    text-align:center;
    font-weight:bold;
}
.option{
    margin-bottom:15px;
    padding:8px;
    border:1px solid #ddd;
    border-radius:10px;
    display: flex;
    gap: 10px;
}
.option input{
    height: 20px;
    width: 30px;
    margin-right:10px;
}
.option img{
    height: 30px;
    width: 30px;
}
button{
    width:100%;
    padding:12px;
    background:rgb(7, 139, 7);
    border:none;
    color:white;
    font-size:16px;
    border-radius:5px;
}

    