*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 500px;
    justify-items: center;
    align-content: center;
}
.header {
    height: 120px;
    width: 100%;
    background-color: rgb(236, 236, 117);
}
.image{
    height: 350px;
    width: 400px;
}
.image img{
    height: 350px;
    width: 300px;
    border-radius: 0;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.unique{
    display: flex;
    gap: 100px;
    margin-top: 80px;
}
.des{
    height: 350px;
    width: 500px;
    border: 1px solid black;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.name{
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 132, 0);
}
.details,.shopping{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.head{
    align-self: center;
    font-weight: bold;
    color: navy;
}
input{
    border: none;
    color: blue;
    font-size: 18px;
    font-weight: bold;
}
button{
    height: 40px;
    width: 350px;
    border-radius: 10px;
    border: none;
}
.buy button{
    background-color: blue;
    font-size: 18px;
    font-weight: bold;
    color: white;
} 
.add button{
    background-color: rgb(236, 236, 117);
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.count button{
    height:30px ;
    width: 40px;
    background-color: rgb(236, 236, 117);
    border: none;
    box-shadow: 1px 1px 5px rgb(150, 150, 146);
}
input#output{
    height: 30px;
    width: 39px;
    border: none;
}
.count{
    height: 40px;
    width: 100px;
    align-self: center;
    display: flex;
    gap: 10px;
    margin-left: 700px;
}