*{
    margin: 0;
    padding: 0;
}
.main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/bookstore_contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:rgb(250, 217, 1);
    justify-items: center;
    align-content: center;
}
.header {
    height: 120px;
    width: 100%;
}
.details{
    margin-top: 150px;
    height: 350px;
    width: 550px;
    backdrop-filter: blur(25px);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.address{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

