*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    gap: 250px;
}
.header {
    height: 120px;
    width: 100%;
    background-color:  rgb(236, 236, 117);
}
.page{
    margin-top: 150px;
}
.unique{
    height: 200px;
    width: 100%;
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.picture,.name,.quantity,.price,.remove,.buy{
    height: 200px;
    width: 200px;
    /* border: 1px solid black; */
    align-content: center; 
    text-align: center;
    font-size: 18px;
}
.picture img{
    height: 200px;
    width: 200px;
    border-radius: 0;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
}
.remove button{
    background-color: red;
}
.buy button{
    background-color: rgb(7, 233, 7);
}
.end{
    height: 100px;
    width: 100%;
    background-color: rgb(234, 234, 88);
    display: flex;
    gap: 350px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    color:navy ;
    position: sticky;
}
.end button{
    width: 200px;
    background-color: blue;
    color: white;
}