*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: auto;
    justify-items: center;
}
.header {
    height: 120px;
    width: 100%;
    background-color:  rgb(236, 236, 117);
}
.sub{
    height: 150px;
    width: auto;
    display: flex;
    margin-top: 150px;
    border: 1px solid black;
}
.imgs img{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    align-content: center;
}
.name,.status{
    height: 150px;
    width: 200px;
    border: 1px solid black;
    align-content: center; 
    text-align: center;
    font-weight: bold;
}