*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
.story{
    display: flex;
}
.header {
    height: 120px;
    width: auto;
    background-color:  rgb(236, 236, 117);
}
.mainclass{
    top: 150px;
    height: auto;
    width: auto;
    justify-content: center;
    position: relative;
}
.common{
    position: absolute;
    left: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    height: auto;
    
}
.bdetails{
    height:300px ;
    width: 250px;
    box-shadow: 3px 3px 3px rgb(146, 144, 144);
    background-color: white; 
    display: flex; 
    flex-direction: column; 
    gap: 10px;
}
.bookss{
    margin-top: 10px;
    height: 160px;
    width: 250px;
    display: flex;
    justify-content: center;
}
.bookss img{
    height: 160px;
    width: 160px;
    border-radius: 0;
   
}
.bname{
    height: 30px;
    width: 250px;
    text-align: center;
}

.bname a {
    font-size: 18px;
    color: black;   
}
.price{
    height:30px ;
    width: 250px;
    text-align: center;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.wish{
    color: rgb(250, 201, 6);
    position: relative;
    left: 22px;
}
