*{
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
}
.main{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.main video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}
.header {
    height: 120px;
    width: 100%;
    backdrop-filter: blur(20px);
    position: absolute;
    z-index: 1;
    justify-items: top;
    align-items: center;
    display: flex;
    gap: 40px;
}
.logo{
    height: 120px;
    width: 60px;
    align-content: center;
    margin-left: 30px;
}
.home_icon span{
    color: rgb(250, 201, 6);   
    display: none;
}
.logo img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
.content{
    display: flex;
    height: 120px;
    width: 650px;
    gap: 40px;
    align-items: center;  
}
.searchbar{
    position: relative;
    height: 40px;
    width: 300px;
    background-color: white;
    align-items: center;
    display: flex;
    gap: 10px;
    border-radius: 10px;
}
.symbols{
    display: flex;
    gap: 30px;
    height: 50px;
    width: 650px;
    justify-content: right;
}
.material-symbols-outlined { 
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
input{
    height: 37px;
    width: 256px;
    border: none;
    outline: none;
}
input::placeholder,.span,.cart,.profile{
    color: rgb(250, 201, 6);
}
a,.book{
    color: rgb(250, 201, 6);
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}

.second{
    height: 550px;
    width: auto;
    font-size: 50px;
    color: white;
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
    align-content: center;
    justify-self: center;
}
.cart span,.profile span{
  font-size: 40px;
}
.profile_list{
    height: 130px;
    width: 110px;
    background-color: rgba(0, 0, 0, 0.26);
    position: absolute;
    right: 20px;
}
.book_list{
    height: 100px;
    width: 210px;
    background-color: rgba(0, 0, 0, 0.26);
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
}
.book_list a,.profile_list a{
    font-size: 18px;
    color: white;
    margin-left: 10px;
}
.book_list,.profile_list{
    display: none;
}
.uname{
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
}
.book:hover .book_list, .profile:hover .profile_list{
    display: block;
}
.cart_item{
    height: 10px;
    width: 10px;
    color: aqua;
    font-weight: bolder;
    font-size: large;
}
.cart{
    display: flex;
}
@media (max-width: 768px) {

    .content,.cart,.searchbar {
        display: none;
    }
    .home_icon span{
        display: block;
        position: relative; 
        font-size: 45px;
    }
    .content{
        position:absolute;
    }
    .home_icon:hover .content{ 
        display: block;   
    }
    a,.book{
    color: white;
    text-decoration: none;
    font-weight: bold;
    }
    .book{
        display: flex;
    }
    .book_list{
        margin-left: 150px;
    }
    .logo{
    height: 80px;
    width: 80px;
    align-content: center;
    }
    img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    }
    .profile a span{
        color: rgb(250, 201, 6);
    }
    .second{
    height: 650px;
    font-size: 28px;
    font-weight: 700;
    align-content: center;
    justify-self: center;
    }

}

