*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: auto;
    justify-items: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.top{
    height: 80px;
    width: 100%;
    display: flex;
    gap: 480px;
}
.top span{
    margin-left: 20px;
}

.head{
    height: 80px;
    width: auto;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;   
}
.details{
    height: 450px;
    width: 700px;
    font-size: 15px; 
    border: 1px solid black;
}
.main_section{
    display: flex;
    gap: 10px;
    align-self: center;
    margin-top: 20px;
    margin-left: 25px;
}
.left_section{
    height: 350px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.right_section{
    height: 350px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input,select{
    height: 30px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid black;
}
button{
    height: 35px;
    width: 100px;
    background-color: blue;
    border-radius: 10px;
    border: none;
}
.btn{
    height: 50px;
    width: auto;
    align-content: center;
    justify-self: center;

}
