*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    justify-items: center;
}
.header {
    height: 120px;
    width: 100%;
    background-color: rgb(236, 236, 117);
    position: relative;
}
.contain{
    position: relative;
    right: 200px;
}
.box{
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 380px;
    height: 100px;
    position:absolute;
    top: 430px;
    display: none;
}
.details{
    text-align: center;
    border:1px solid  blueviolet;
    width: 380px;
    height: 250px;
    position:absolute;
    top: 150px;
}
input{
    border: none;
    color: rgb(10, 147, 232);
    font-size: 18px;
    font-weight: bold;
}
h1{
    color: #2ecc71;
    margin-bottom: 10px;
}
p{
    color: #555;
    font-size: 15px;
    margin: 8px 0;
}
button{
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: goldenrod;
    font-size: 15px;
    color: white;
}

