{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "css/bookstore_admin_homepage.css"%}>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <form method="POST" class="main">
        {% csrf_token %}
        <div class="head">WELCOME {{ admin_name }}</div>
        <div class="second">
            
            <div class="left">
                <div class="choices">        
                    <div><a href="{% url 'admin_homepage' %}"> Dashboard </a></div>
                    <div class="bdetails"><a href="">BookDetails</a>
                        <ul class="blist">        
                        <li><a href="{% url 'admin_bookupdate' %}">Update books</a></li> 
                        <li><a href="{% url 'admin_showorder' %}">Orders</a></li>
                        <li><a href="{% url 'admin_showuser' %}">Users</a></li>
                        </ul>
                    </div>
                    <div><a href="{% url 'page_logout' %}">Logout</a></div>
                </div>
            </div>

            <div class="right">
                <div class="right_top">
                    <div class="users">
                        <div>TOtal Users</div>
                        <div class="t_user"> {{ total }}</div>
                    </div>
                    <div class="sales">
                        <div>Weekly Sales</div>
                        <div>{{ weekly_sales }}</div>
                    </div>
                </div>
                <div class="right_second"><canvas id="salesChart"></canvas> </div>
            </div>

        </div>
    </form>
</body>
</html>
<script>
    const ctx = document.getElementById('salesChart');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['This Week'],
            datasets: [{
                label: 'Total Orders',
                data: [{{ weekly_sales }}],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
